@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-Regular.otf);
}

* {
    font-family: Montserrat;
}

a {
    color: #f6b33e;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #d99d36;
    text-decoration: underline;
}

a:active,
a:focus,
a:visited {
    color: #f6b33e;
    text-decoration: none;
}

.go-back-icon {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1.5rem;
    color: #f6b33e;
}

/* #896b95 */
.accordion-button:not(.collapsed) {
    color: #896b95;
    /* background-color: //#e7f1ff; */
    background-color: #dac7e1;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 #d5bbdf;
}

.accordion-button:focus {
    border-color: #a996b1;
    box-shadow: 0 0 0 0.25rem #896b954e;

}

.title-text {
    text-transform: none;
    text-shadow: 0.04419417em 0.04419417em 0em rgb(246 179 62 / 40%);
    color: #f6b33e;
    letter-spacing: 0.017em;
    /* font-family: YACgEQNAr7w-0; */
    font-size: max(0px, calc((91.66666667rem * 32.44996779 / 704) - 0.5px));

    line-height: 1em;
    direction: ltr;
    text-align: center;
}

/* .card-body,
.accordion-body,
.accordion-item,
.accordion-button {
    background: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
} */

.animated-bg {
    background-color: #ffffff;
    /* transform: scale(-3, 1); */
    overflow: hidden;
    /* width: 100%; */
    opacity: 1.0;
    /* height: 100%; */
    top: 0%;
    left: 0%;
    position: fixed;

    /* opacity: 0.26; */
    opacity: 0.36;
    z-index: -1;
}

/* * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

p {
    text-align: justify;
    font-size: 1.2rem;
}

body {}

.link {
    color: #2e48be;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.titulo {
    font-weight: 700;
    font-size: 1.8rem;
}

.subtitulo {
    font-weight: 700;
    font-size: 1.6rem;
} */